<center><h1><%= @topic.title %></h1></center>
<div class="row">
  <div class="col-md-8">
    <%= link_to "Edit Topic", edit_topic_path(@topic), class: 'btn btn-success' %> <%= link_to "Delete Topic", @topic, method: :delete, class: 'btn btn-danger' %></center>
  <br>
  <%= link_to "Add new bookmark", new_topic_bookmark_path(@topic), class: 'btn btn-success' %>
  <br>
  <div class="row">
    <div class="col-md-8">
      <% @bookmarks.each do |bookmark| %>
        <div class="media">
          <div class="media-body">
            <h4 class="media-heading">

              <span class="glyphicon glyphicon-bookmark"></span>


              <%= render partial: 'likes/like', locals: { bookmark: bookmark } %>
              <% if policy(bookmark).update? %>
              <%= link_to bookmark.url, bookmark.url, :target => '_blank' %>
                <%= link_to "Edit Bookmark", edit_topic_bookmark_path(@topic, bookmark), class: 'btn btn-success' %>
              <% end %>
              <%= link_to "Delete Bookmark", topic_bookmark_path(@topic, bookmark), method: :delete, class: 'btn btn-danger' %>
            </h4>
          </div>
        </div>
      </div>
    </div>
      <% end %>
